<div class="col-lg-12">
    <nb-card>
        <nb-card-header *ngIf="modoCreacion">
            CREAR PERMISO
        </nb-card-header>
        <nb-card-header *ngIf="!modoCreacion">
            ACTUALIZAR PERMISO
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-3">
                    <label>Url</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                            
                           [(ngModel)]="elPermiso.url">
                    <p *ngIf="intentoEnvio && elPermiso.url=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Metodo</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [(ngModel)]="elPermiso.metodo">
                    <p *ngIf="intentoEnvio && elPermiso.metodo=='' ">Requerido</p>
                </div>
            </div>
            <br>            
            <div class="row">
                    <button  *ngIf="modoCreacion" 
                              class="btn btn-primary btn-block"  (click)="agregar()">
                        Crear
                    </button>
                    <button *ngIf="!modoCreacion" 
                            class="btn btn-primary btn-block"  (click)="editar()">
                        Actualizar
                    </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>