<div class="col-lg-12">
    <nb-card>
        <nb-card-header *ngIf="modoCreacion">
            CREAR USUARIO
        </nb-card-header>
        <nb-card-header *ngIf="!modoCreacion">
            ACTUALIZAR USUARIO
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-3">
                    <label>Seudonimo</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                            
                           [(ngModel)]="elUsuario.seudonimo">
                    <p *ngIf="intentoEnvio && elUsuario.seudonimo=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Correo</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [(ngModel)]="elUsuario.correo">
                    <p *ngIf="intentoEnvio && elUsuario.correo=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Contrasena</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [(ngModel)]="elUsuario.contrasena">
                    <p *ngIf="intentoEnvio && elUsuario.contrasena=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                    <button  *ngIf="modoCreacion" 
                              class="btn btn-primary btn-block"  (click)="agregar()">
                        Crear
                    </button>
                    <button *ngIf="!modoCreacion" 
                            class="btn btn-primary btn-block"  (click)="editar()">
                        Actualizar
                    </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
