<div class="col-lg-12">
    <nb-card>
        <nb-card-header>
            ADMINISTRACIÓN CANDIDATOS 
            <button type="button" class="btn btn-success" (click)="agregar()">
                <i class="fas fa-plus"></i>
            </button>
        </nb-card-header>
        <table class="table">
            <tr>
                <th *ngFor="let columaActual of nombresColumnas">{{columaActual}}</th>
            </tr>
            <ng-container *ngFor="let candidatoActual of candidatos">
                <tr>
                    <td>{{candidatoActual.numero_resolucion}}</td>
                    <td>{{candidatoActual.cedula}}</td>
                    <td>{{candidatoActual.nombres}}</td>
                    <td>{{candidatoActual.apellidos}} </td>
                    <td>
                        <button type="button" class="btn btn-primary" 
                                (click)="editar(candidatoActual._id)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-danger" 
                                (click)="eliminar(candidatoActual._id)">
                            <i class="fas fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </nb-card>
</div>
